/* Write your CSS here */
.list-Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
}
.image-custom {
  height: 170px;
  width: 190px;
}
.image-name {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #0f172a;
  text-align: center;
  max-width: 180px;
}
